/* fonts */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal;
}
/* common code */
body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}
.primary-bg{
    background-color: #F5F8FF;
}
.cmn-btn{
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
}
.cmn-title{
    font-weight: bold;
    color: #252432;
}
.section-padding{
    padding: 116px 160px 0px 140px;
}
/* header start */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
}
.logo-header{
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 34px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
}
.logo a{
    color: #4E47FF;  
    text-decoration: none;
}
.logo-btn{}
.logo-btn button{}
/* header end */

/* banner start */
.banner{
    padding: 155px 260px ;
    text-align: center;
}
.banner h1{
    font-size: 65px;
    font-family: ;
}
.banner button{}
/* banner end */

/* action start */
.action{
    display: flex;
    gap: 220px;
    align-items: center;
    justify-content: space-between;
}
.action-description{}
.action-description h3{
    font-size: 42px;
}
.action-description p{
    margin: 23px 0;
    font-size: 24px;
    line-height: 30px;
}
.action-image img{
    border-radius: 48px;
}
/* action end */
/* productive start */
.productive{
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 142px;   
}
.pro_title{
    font-size: 38px;
    text-align: center;
}
.pro_items{
    display: flex;
    gap: 159px;
    align-items: center;
    justify-content: space-between;
}
.pro_item{
    margin: 40px 0 20px;
}
.pro_item h1{
    margin: 0;
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

/* productive end */