/* fonts */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal;
}
/* common code */
body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}
.primary-bg{
    background-color: #F5F8FF;
}
.cmn-btn{
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
}
.cmn-title{
    font-weight: bold;
    color: #252432;
}
.section-padding{
    padding: 116px 160px 0px 140px;
}
/* header start */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
}
.logo-header{
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 34px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
}
.logo a{
    color: #4E47FF;  
    text-decoration: none;
}
.logo-btn{}
.logo-btn button{}
/* header end */

/* banner start */
.banner{
    padding: 155px 260px ;
    text-align: center;
}
.banner h1{
    font-size: 65px;
    font-family: ;
}
.banner button{}
/* banner end */

/* action start */
.action{
    display: flex;
    gap: 220px;
    align-items: center;
    justify-content: space-between;
}
.action-description{}
.action-description h3{
    font-size: 42px;
}
.action-description p{
    margin: 23px 0;
    font-size: 24px;
    line-height: 30px;
}
.action-image img{
    border-radius: 48px;
}
/* action end */
/* productive start */
.productive{
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 142px;   
}
.pro_title{
    font-size: 38px;
    text-align: center;
}
.pro_items{
    display: flex;
    gap: 159px;
    align-items: center;
    justify-content: space-between;
}
.pro_item{
    margin: 40px 0 20px;
}
.pro_item h1{
    margin: 0;
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

/* productive end */
/* user start */
.user{}
.user h1{
    font-size: 42px;
    text-align: center;
}
.user-container{
    display: flex;
    gap: 20px;
}
.user-card{
    background-color: #FFFFFF;
    border-radius: 14px;
    box-shadow: 5px 5px 5px 5px #ea6666;
    padding: 24px;

}
.user-description h4{
    color: #1E1E1E;
    margin: 24px 0 8px;
}
.user-identity{
    margin-top: 24px;
    align-items: center;
    display: flex;
    gap: 6px;
}
.user-img img{
    border-radius: 50%;
}
.user-info p{
    margin: 0;
    font-size: 12px;
} 
.user-p1{
    color: rgba(117, 117, 117, 1);
}
.user-p2{
    margin-top: 2px;
    color: rgba(179, 179, 179, 1);
}

/* user end */
/* raedy start */
.ready{
    text-align: center;
}
.ready-info{
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 71px 150px;
}
.ready-info h2{
    margin: 0;
    font-size: 50px;
    color: 000000;
}
.ready-info p{
    margin: 20px 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.ready-info img{
    margin-top: 20px;
    border-radius: 48px;
}
/* ready end */
/* get start  */
.get{
    padding: 60px 160px 0px 140px;
}
.get-title h1{
    font-size: 97px;
    color: #000000;
}
.get-info{
    padding: 50px 0;
    display: flex;
    gap: 115px;
    /* justify-content: space-between; */
}
form label{
    margin: 19px 0 10px;
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #000000;
}
form input,textarea{
    border: none;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    display: block;
    padding: 20px 272px 20px 32px;
}
.form-btn{
    margin-top: 19px;
    padding: 20px 186px;
}
/* get end  */